body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #8d92fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#animeBanner {
  color: #19314b;
}

#cardContainer {
  color: #19314b;
}

.card {
  color: #19314b;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #19314b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

li:last-child {
  border-bottom: none;
}

/* Styles for the top anime banner */
.top-anime-banner {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.top-anime-banner div {
  margin-right: 10px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
