body {
  font-family: Arial, sans-serif;
  margin: 2em;
  background-color: #3f3f3f;
}

h1 {
  text-align: center;
}

#list-container {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin: auto;
  background-color: #f3f3f3;
}

.animeList {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin: auto;
  background-color: #f3f3f3;
}
.anime-search-result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  background-color: #f3f3f3;
}

.anime-item {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.anime-search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
  flex-basis: calc(
    20%
  ); /* Berechnet die Breite für maximal 5 Elemente pro Reihe */
  margin: 5px; /* Abstand zwischen den Elementen */
  padding: 1em;
  border: 1px solid #ccc;
  margin: 0.5px;
  border-radius: 15px;
}
.anime-search-item-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  transition-duration: 0.4s;
  border-radius: 3px;
}

.btn-edit {
  background-color: #008cba;
}

.btn-delete {
  background-color: #f44336;
}

/* Neue Regel für den "Bearbeiten"-Button */
.btn-edit {
  order: 1; /* Ändert die Reihenfolge des Elements innerhalb des flex containers */
}

.anime-item-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}
