/* 
TODO:
-media queries
-buttons
*/
*/

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(35, 62, 136);
  color: black;
  margin: 0;
  background-image: url("https://images8.alphacoders.com/133/1331544.png"); /* Hier den Pfad zum Bild einfügen */
  background-size: cover; /* Bildgröße anpassen */
}

h1,
h2 {
  text-align: center;
  margin: 1em 0;
}

/* Navigation Bar */
.navbar {
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  font-size: 1.5em;
}

.navbar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}

/* Main Content */
.main-content {
  padding-top: 6vh; /* Adjust to match navbar height */
}

.intro-text {
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  margin: 0 auto;

  background-position: center; /* Zentrierung des Hintergrundbilds */
  color: white; /* Textfarbe auf weiß ändern, um lesbar zu bleiben */
}

.intro-text p {
  font-size: 1.5em;
}

.list-container {
  max-width: 75vw;
  margin: auto;
  background-color: #f3f3f3;
  border-radius: 15px;
  padding: 1em;
}

.animeList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  margin: 2vw;
}

.anime-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  color: black;
}
.anime-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Form and Input */
form {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#animeInput {
  margin: 0 1em;
  padding: 0.5em;
  width: 40vw;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}

button:hover {
  background-color: #45a049;
}

/* Button Styles */
.btn {
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.btn-edit {
  background-color: #fdd835;
  color: black;
}

.btn-edit:hover {
  background-color: #fbc02d;
}

.btn-delete {
  background-color: #e57373;
  color: white;
}

.btn-delete:hover {
  background-color: #ef5350;
}

/* Anime Search Result Styling */
.anime-search-result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  /* padding: 10px; */
  margin: 2vw;
}

.anime-search-result h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
}

/* Anime Search Item Styling */
.anime-search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* Beispielbreite für jeden Sucheintrag */
  margin: 15px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgb(48, 48, 53);
  color: lightgray;
  gap: 20px;
}

.anime-search-item img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}

/* media queries */

@media screen and (min-width: 768px) {
  .anime-search-result {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/*
  Text styling
*/

.flex-container-row {
  display: flex;
  flex-direction: row;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
}

.black-border {
  color: white; /* Textfarbe */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Textschatten in Schwarz um jeden Buchstaben */
  padding: 5px; /* Optional: fügt Platz um den Text hinzu */
}

.white-border {
  color: black; /* Textfarbe */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /* Textschatten in Weiß um jeden Buchstaben */
  padding: 5px; /* Optional: fügt Platz um den Text hinzu */
}

/* Großer Text */
.large-text {
  font-size: 24px;
}

/* Kleiner Text */
.small-text {
  font-size: 14px;
}

/* Roter Text */
.red-text {
  color: red;
}

/* Blauer Text */
.blue-text {
  color: blue;
}

/* Feste Schriftart */
.fixed-font {
  font-family: "Courier New", Courier, monospace;
}

/* Serifenschriftart */
.serif-font {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Serifenlose Schriftart */
.sans-serif-font {
  font-family: Arial, Helvetica, sans-serif;
}

/* Linksbündiger Text */
.left-align {
  text-align: left;
}

/* Zentrierter Text */
.center-align {
  text-align: center;
}

/* Rechtsbündiger Text */
.right-align {
  text-align: right;
}

/* Fetter Text */
.bold-text {
  font-weight: bold;
}

/* Kursiver Text */
.italic-text {
  font-style: italic;
}

/* Unterstrichener Text */
.underline-text {
  text-decoration: underline;
}
